{% extends 'main.html.twig' %}

{% block body %}
    {% for message in app.flashes('success') %}
        <div class="alert alert-success mt-2">
            {{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endfor %}
    {% for message in app.flashes('warning') %}
        <div class="alert alert-warning mt-2">
            {{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endfor %}
    <div class="mt-2">
        <div>{{ 'Restaurant'|trans }} ID: {{ restaurant.id }}</div>
        <div>{{ 'Title'|trans }}: {{ restaurant.title }}</div>
        <div>{{ 'max-active-tables'|trans }}: {{ restaurant.maxActiveTables }}</div>
    </div>
    <a href="{{ path('restaurant_table_add', {restaurant: restaurant.id}) }}" class="btn btn-info mt-2" role="button">
        {{ 'Add table'|trans }}
    </a>
    {% if pagination is not empty %}
        <div class="row">
            <div class="col-sm-6 mt-2">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>{{ 'Capacity'|trans }}</th>
                            <th>{{ 'Number'|trans }}</th>
                            <th>{{ 'Status'|trans }}</th>
                            <th>{{ 'Actions'|trans }}</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for table in pagination %}
                            <tr {% if loop.index is odd %}class="color"{% endif %}>
                                <td>{{ table.id }}</td>
                                <td>{{ table.capacity }}</td>
                                <td>{{ table.number }}</td>
                                <td>{{ ('restaurant-table-status'~table.status)|trans }}</td>
                                <td>
                                    <a href="{{ path('restaurant_table_update', {restaurantTable: table.id}) }}" class="btn btn-info" role="button">
                                        {{ 'Update'|trans }}
                                    </a>
                                    <a href="{{ path('restaurant_table_delete', {restaurantTable: table.id}) }}" class="btn btn-danger" role="button">
                                        {{ 'Delete'|trans }}
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>

                <div class="navigation">
                    {{ knp_pagination_render(pagination) }}
                </div>
            </div>
        </div>
    {% else %}
        <p>{{ 'No tables'|trans }}.</p>
    {% endif %}
{% endblock %}